body{
    background-color: rgb(247, 241, 240);
}

.todo{
    background-color: green;
    height: 90%;
    width: 70%;
    position: absolute;
    margin-left: 15%;
    margin-top: 2%;
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.2), 0 -5px 30px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}

.menu{
    height: 100%;
    width: 33%;
    background-color: rgb(255, 17, 0);
    position: absolute;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.img{
    height: 8%;
    width: 13%;
    margin-top: 25%;
}

p{
    padding-left: 15%;
    color: white;
    margin-top: 10%;
    padding-top: 4%;
}

.display{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.imgs{
    margin-left: 85%;
    padding-top: 1%;
    
}